<!DOCTYPE html>
<html>

<head>
    <title>Emsiro</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/4p6anidd0wy5a6ii2c523w1nswg3umbct6ror8msx1od2kh7/tinymce/5/tinymce.min.js">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="/javascripts/main.js"></script>
</head>

<body>

    <div class="container-fluid p-0 m-0 minheight-100">

        <div id="background-image" class="position-absolute">

            <img src="/images/background.jpg" alt="background image" />

        </div>

        <div id="color-filter" class="position-absolute"></div>

        <main class="d-flex flex-column minheight-100">

            <div class="row w-100 p-0 m-0">

                <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">

                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.png" width="auto" height="30" class="d-inline-block align-top" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="about">About</a>
                            <a class="nav-item nav-link" href="admin">Administration</a>
                            <% if (locals.session){ %>
                            <a class="nav-item nav-link" href="pages">Page List</a>
                            <a class="nav-item nav-link" href="pageEditor">Page Editor</a>
                            <a class="nav-item nav-link" href="admin/disconnect">Disconnect</a>
                            <% } %>
                            <a class="navbar-brand" href="favory">
                                <img src="/images/favoris.png" width="auto" height="30" class="d-inline-block align-top"
                                    alt="">
                            </a>
                        </div>
                    </div>
                </nav>

            </div>