<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="container-fluid p-0 m-0 minheight-100">

    <div id="background-image" class="position-absolute">

      <img src="/images/background.jpg" alt="background image" />

    </div>

    <div id="color-filter" class="position-absolute"></div>

    <main class="d-flex flex-column minheight-100">

      <div class="row w-100 p-0 m-0">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">

          <a class="navbar-brand" href="#">
            <img src="/images/logo.png" width="auto" height="30" class="d-inline-block align-top" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Qui sommes-nous ?</a>
              <a class="nav-item nav-link" href="/signup">Sign up</a>
              <a class="nav-item nav-link" href="/login">Login</a>
            </div>
          </div>
        </nav>

      </div>

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <a class="navbar-brand" href="#">
            <img src="../public/images/logo.png" alt="logo" style="width:60px;">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./offre.html">Offer</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid" id="divDescription">
        <div class="row d-flex justify-content-center">
            
        </div>
    </div>

    </main>

  </div>
</body>

</html>