<% include layouts/header %>

<div class="row p-0 m-0 flex-grow-1 d-flex justify-content-center align-items-center">
  <div class="col-8 p-0 m-0 text-center">
    <p class="text-white">Welcome to Emsiro. This web site is made to help you to find events in France</p>
    <a href="/listing" class="btn btn-custom pl-4 pr-4">Search an event</a>
  </div>
</div>

<% include layouts/footer %>