<% include layouts/header %>

<div class="row p-0 m-0 flex-grow-1 d-flex justify-content-center align-items-center">

    <div class="col-4 p-0 m-0 text-center text-white">
        <div id="pages">
            <table id="pagestable">
                <tr>
                    <th>Name</th>
                    <th>Updated_at</th>
                    <th>Created_at</th>
                    <th>Delete</th>
                </tr>
                <tbody>
                    <% pages.forEach( page => { %>
                    <tr>
                        <td><%= page.name %></td>
                        <td><%= page.updated_at %></td>
                        <td><%= page.created_at %></td>
                        <td><a href="pages/delete/<%= page.id %>">delete</a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include layouts/footer %>