<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</script>
    <title>Document</title>
</head>
<body>
        <div class="container-fluid p-0 m-0 minheight-100 text-white">

                <div id="background-image" class="position-fixed ">
            
                  <img src="/images/background.jpg" alt="background image" />
            
                </div>
            
                <div id="color-filter" class="position-fixed"></div>
            
                <main class="d-flex flex-column minheight-100">
            
                  <div class="row w-100 p-0 m-0">
            
                   
            
                  </div>
    <%- content %>
</body>
</html>