<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <table>
        <tr>

            <% for(var i =0; i<data.length; i++) {%>
            <td>
                <%= data[i].rdfs_label[0].value%>
            </td>
            <td>
                <%= data[i].isLocatedAt[0].schema_address[0].schema_postalCode%>
            </td>
            <td>
                <% if(data[i].hasDescription.length != 0) {%>
                <%= data[i].hasDescription[0].shortDescription[0].value%>
            </td>
            <%}%>
            <%}%>
            </td>
        </tr>


    </table>

</body>

</html>